$border-normal: #aaa;
$text_normal: #aaa;
$text-hover: #999;
$bg-hover: rgba(170, 170, 170, .3);
$text-disabled: #dddddd;

.toolbar {
  border: 1px solid #E9E9E9;
}

.button {
  cursor: pointer;
  display: inline-block;
  color: $text_normal;
  border: none;
  border-radius: 2px;
  margin: unset;
  font: inherit;
  background: unset;

  &:global(.disabled) {
    cursor: not-allowed;
    color: $text-disabled;

    &:hover {
      color: $text-disabled;
      background: none;
    }
  }

  &:global(.active),
  &:hover {
    background: $bg-hover;
    color: $text-hover;
  }
}

.format_color_text {
  path:nth-of-type(1) {
    fill: red;
  }
  path:nth-of-type(3) {
    fill: $text_normal;
  }

  &:hover {
    path:nth-of-type(1) {

    }
    path:nth-of-type(3) {
      fill: $text-hover;
    }
  }
}
.format_color_fill {
  path:nth-of-type(1) {
    fill: yellow;
  }
}
.typeSizeTrigger {
  .arrow_drop_down {
    vertical-align: -3px;
  }
}
.typeSizePlaceholder {
  display: inline-block;
  min-width: 24px;
}
.arrow_drop_down {
  vertical-align: 4px;
}
.button-group + .button-group {
  border-left: 1px solid #E9E9E9;
}

.dropdown_menu {
  z-index: 1;
  background: #fff;
  border: 1px $border-normal solid;
  display: flex;
  flex-direction: column;

  &:global(.hidden) {
    display: none!important;
  }

  button {
    background-color: transparent;
    background-image: none;
    border: none;
    padding: 5px 10px;
    display: block;
    user-select: none;
    flex: 1;
    text-align: left;

    &:hover {
      background-color: $bg-hover;
    }
    &:global(.active) {
      .menu_item_check {
        opacity: 1;
      }
    }
  }

  .menu_item_icon {
    font-size: 16px;
    vertical-align: -3px;
    margin-left: 4px;
  }
  .menu_item_check {
    font-size: 12px;
    opacity: 0;
  }
  .menu_item_text {
    display: inline-block;
    margin-left: 4px;
  }

  .headingButton {
    &:global(.normal) {
      font-size: 14px;
    }
    &:global(.heading-1) {
      font-size: 28px;
      font-weight: bold;
    }
    &:global(.heading-2) {
      font-size: 24px;
      font-weight: bold;
    }
    &:global(.heading-3) {
      font-size: 20px;
      font-weight: bold;
    }
    &:global(.heading-4) {
      font-size: 16px;
      font-weight: bold;
    }
    &:global(.heading-5) {
      font-size: 14px;
      font-weight: bold;
    }
  }
}
